<!-- container -->
<div class="page about" id="page">
    
    <!-- wrap -->
    <header id="header"></header>
    
    <!-- jumbotron -->
    <div class="jumbotron-wide" id="intro">
     <span class="wrap">
     	<h1>WELCOME TO EUSCREEN</h1>
     </span>
    </div>
    
    <!-- about content -->
    <div class="container main">

    	<!-- welcome text -->
    	<div class="about-content row  welcome-text">
    		<div class="col-md-10 col-center">
    			<p>
    				The EUscreen portal offers free  access to thousands of items of archive moving image material. It brings together clips that provide an insight into the social, cultural, political and economic events that have shaped the 20th and 21st centuries. As well as chronicling important historical events, the EUscreen portal allows you to explore television programmes that focus on everyday experience. EUscreen is also intended to be a resource for educators, researchers and media professionals and allow them access to audiovisual content from across Europe.
    			</p>
    			<p>
    				The EUscreen portal was built by a consortium of European audiovisual archives, academic and technical partners. It has ben supported through two projects funded by the European Commission. The EUscreen project ran from 2009 - 2012 and its successor, EUscreenXL, began in 2013 and runs until 2016 under the CIP ICT-PSP support programme. 
    			</p>
    			<p>
    			The main objective of the project is to aggregate a comprehensive amount of professional audiovisual content. A large number of clips and programmes have been selected by the broadcasters and archives from all across Europe and included in a number of specially devised virtual exhibitions, curated topical collections and collections of popular clips. The project  aims to engage users with digital heritage content and facilitate the use of videos, photos, audio and images through the MyEUscreen platform.
    			</p>
    			<!-- contact button-->
    			<a class="box-link pull-right hidden-xs" href="mailto:info@euscreen.eu">CONTACT US FOR FURTHER INQUIRY</a></span>
    		</div>
    	</div>
    	
    	
    	<!-- selection -->
        <div class="row about-section">
            
            <!-- euscreen content providers -->
            <div class="col-md-4 col-sm-4 left">
                <a href="content-map.html">
                    <span class="hue">
                        <span class="pads"><h2>EXPLORE EUSCREEN ON A MAP</h2></span>
                    </span>
                </a>
            </div>
            
            <!-- euscreen content selection -->
            <div class="col-md-4 col-sm-4 middle">
                <a href="http://blog.euscreen.eu" target="_blank" title="Visit EUscreen Blog">
                    <span class="hue">
                        <span class="pads"><h2>EUSCREEN BLOG</h2></span>
                    </span>
                </a>
            </div>
            
            <!-- explore euscreen -->
            <div class="col-md-4 col-sm-4 right">
                <a href="http://journal.euscreen.eu/index.php/view" target="_blank" title="Visit EUscreen Journal">
                    <span class="hue">
                        <span class="pads"><h2>VIEW JOURNAL</h2></span>
                    </span>
                </a>
            </div>
        </div>
        
        <!-- content selection -->
        <div class="about-content row content-selection">
        	<div class="col-md-10 col-center">
         		
         	<h1>EUSCREEN CONTENT SELECTION</h1>
    			<p>
    				The EUscreen portal offers free  access to thousands of items of archive moving image material. It brings together clips that provide an insight into the social, cultural, political and economic events that have shaped the 20th and 21st centuries. As well as chronicling important historical events, the EUscreen portal allows you to explore television programmes that focus on everyday experience. EUscreen is also intended to be a resource for educators, researchers and media professionals and allow them access to audiovisual content from across Europe.
    			</p>
    			<p>
    				The EUscreen portal was built by a consortium of European audiovisual archives, academic and technical partners. It has ben supported through two projects funded by the European Commission. The EUscreen project ran from 2009 - 2012 and its successor, EUscreenXL, began in 2013 and runs until 2016 under the CIP ICT-PSP support programme. 
    			</p>
        	</div>	
        </div>
        
        
        <!-- content selection -->
        <div class="about-content row content-selection-aggregation">
        	<div class="col-md-10 col-center">
         	
         	<!-- row -->
         	<div class="items row">
         		
         		<!-- intro -->
         		<div class="intro col-md-5 col-lg-6">
         			<h2>AGGREGATION TO EUROPEANA</h2>
         			<p>
         				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
         				aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
         				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Duis aute irure dolor in reprehenderit in 
         				voluptate velit esse cillum dolore. 
         			</p>
         			<a class="box-link " href="http://www.europeana.eu" target="_blank">EXPLORE EUROPEANA PORTAL</a></span>
         		</div>
         		
         		<!-- graph -->
         		<div class="graph col-md-7 col-lg-6 hidden-xs">
         		
         			<!-- pie chart-->
          		<span class="chart">
          			
          			<!-- text info -->
           		<span class="total">
           			<small>EUSCREEN TOTAL ITEMS</small>
           			<h1>60238</h1>
           		</span>
           		
           		<!-- text info -->
           		<span class="item document">
           			<a href="#"><h1>231</h1><small>DOCUMENTS</small></a>
           			<span class="line"></span>
           		</span>
           		
           		<!-- audio info -->
           		<span class="item audio">
           			<a href="#"><h1>600</h1><small>AUDIO</small></a>
           			<span class="line"></span>
           		</span>
           		
           		<!-- text info -->
           		<span class="item image">
           			<a href="#"><h1>12000</h1><small>IMAGE</small></a>
           			<span class="line"></span>
           		</span>
           		
           		<!-- audio info -->
           		<span class="item video">
           			<a href="#"><h1>46900</h1><small>VIDEO</small></a>
           			<span class="line"></span>
           		</span>
           		
           		<!-- ingest -->
           		<span class="ingest">
           			<span class="line"></span>
           			<h1>EUROPEANA</h1>
           		</span>
          		</span>
         		</div>
         	</div>
        	</div>	
        </div>
        
        <!-- content selection -->
        <div class="about-content row content-selection-metadata">
        	<div class="col-md-10 col-center">
        		
        		<!-- heading -->
        		<div class="heading">
         		<h4>METADATA FACTS BEHIND EUSCREEN</h4>
        		</div>
        		
        		<!-- row -->
        		<div class="custom-row">
        			<div class="custom-col-20">
        				<i class="icono icono-metadata"></i>
        				<p>45 METADATA ELEMENTS</p>
        			</div>
        			<div class="custom-col-20">
        				<i class="icono icono-ebu"></i>
        				<p>MODELLED ON EBUCORE</p>
        			</div>
        			<div class="custom-col-20">
        				<i class="icono icono-interoperable"></i>
        				<p>HIGHLY INTEROPERABLE</p>
        			</div>
        			<div class="custom-col-20">
        				<i class="icono icono-cc"></i>
        				<p>AVAILABLE FOR REUSE UNDER CC LICENSE</p>
        			</div>
        			<div class="custom-col-20">
        				<i class="icono icono-opendata"></i>
        				<p>PUBLISHED AS LINKED OPEN DATA</p>
        			</div>
        		</div>
        	</div>
        </div>
                        
        <!-- content selection -->
        <div class="about-content row content-partners">
        	<div class="col-md-10 col-center">
         		
         		<h1>EUSCREEN PARTNERS</h1>
    			<p>
    				The EUscreen portal offers free  access to thousands of items of archive moving image material. It brings together clips that provide an insight into the social, cultural, political and economic events that have shaped the 20th and 21st centuries. As well as chronicling important historical events, the EUscreen portal allows you to explore television programmes that focus on everyday experience. EUscreen is also intended to be a resource for educators, researchers and media professionals and allow them access to audiovisual content from across Europe.
    			</p>
    			
    			<!-- partners filter -->
      			<div class="btn-group partners-filter pull-left">
					<div class="btn-group">
				    	<button type="button" class="btn btn-default active">PARTNERS</button>
				    </div>
				    <div class="btn-group">
				    	<button type="button" class="btn btn-default">ASSOCIATE PARTNERS</button>
				    </div>
				</div>
          	</div>	
		</div>
          
          <!-- partners list -->
        <div class="partners-list row">
            <div class="provider col-lg-2 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
             	<span class="wrap bg">
             		<img src="/eddie/apps/euscreenxlelements/img/content/provider/bg.png" class="img-responsive" align="Beeld en Geluid"/>
             	</span>
             	<span class="info">
             		<h2>BEELD EN GELUID</h2>
             	</span>
            	</a>
            </div>
            <div class="provider col-lg-2 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
             	<span class="wrap dw">
                 	<img src="/eddie/apps/euscreenxlelements/img/content/provider/dw.png" class="img-responsive" align="Deutsche Welle"/>
             	</span>
             	<span class="info">
             		<h2>DEUTSCHE WELLE</h2>
             	</span>
            	</a>
            </div>
            <div class="provider col-lg-2 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                 <span class="wrap cinne">
                 	<img src="/eddie/apps/euscreenxlelements/img/content/provider/cinne.png" class="img-responsive" align="Deutsche Welle"/>
             	</span>
             	<span class="info">
             		<h2>CINECITTA LUCE</h2>
             	</span>
            	</a>
            </div>
            <div class="provider col-lg-2 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                 <span class="wrap ceska">
                 	<img src="/eddie/apps/euscreenxlelements/img/content/provider/ceska.png" class="img-responsive" align="Deutsche Welle"/>
             	</span>
             	<span class="info">
             		<h2>CESKA TELEVIZE</h2>
             	</span>
            	</a>
            </div>
            <div class="provider col-lg-2 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
             	<span class="wrap orf">
             		<img src="/eddie/apps/euscreenxlelements/img/content/provider/orf.png" class="img-responsive" align="Beeld en Geluid"/>
             	</span>
             	<span class="info">
             		<h2>ORF</h2>
             	</span>
            	</a>
            </div>
            <div class="provider col-lg-2 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
             	<span class="wrap rte">
                 	<img src="/eddie/apps/euscreenxlelements/img/content/provider/rte.png" class="img-responsive" align="Deutsche Welle"/>
             	</span>
             	<span class="info">
             		<h2>RTE</h2>
             	</span>
            	</a>
            </div>
            <div class="provider col-lg-2 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                 <span class="wrap nina">
                 	<img src="/eddie/apps/euscreenxlelements/img/content/provider/nina.png" class="img-responsive" align="Deutsche Welle"/>
             	</span>
             	<span class="info">
             		<h2>NATIONAL AUDIOVISUAL INSTITUTE</h2>
             	</span>
            	</a>
            </div>
            <div class="provider col-lg-2 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                 <span class="wrap rtbf">
                 	<img src="/eddie/apps/euscreenxlelements/img/content/provider/rtbf.png" class="img-responsive" align="Deutsche Welle"/>
             	</span>
             	<span class="info">
             		<h2>RTBF</h2>
             	</span>
            	</a>
            </div>
            <div class="provider col-lg-2 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                 <span class="wrap dr">
                 	<img src="/eddie/apps/euscreenxlelements/img/content/provider/dr.png" class="img-responsive" align="Deutsche Welle"/>
             	</span>
             	<span class="info">
             		<h2>DR</h2>
             	</span>
            	</a>
            </div>
            <div class="provider col-lg-2 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                 <span class="wrap lcsa">
                 	<img src="/eddie/apps/euscreenxlelements/img/content/provider/lcsa.png" class="img-responsive" align="Deutsche Welle"/>
             	</span>
             	<span class="info">
             		<h2>LCVA</h2>
             	</span>
            	</a>
            </div>
        </div>
    </div>
    
    
    <!-- footer -->
    <footer id="footer"></footer>
</div>

<!-- mobile navigation, will slide -->
<div id="mobilenav" class="mobilenav"></div>